<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxz.studio.doit_notepad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cxz.studio.doit_notepad.DoItList_Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="NewItem_Activity"></activity>
        <activity android:name="ItemDetails_Activity"></activity>
        <activity android:name="About_Activity"></activity>
        <activity android:name="Finished_List_Activity"></activity>
        <provider android:name="ItemsContentProvider" android:authorities="com.cxz.studio.doit_notepad.itemsprovider"/>
    </application>

</manifest>
